{
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 65,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
